.cover-image{
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 55vh;
    padding: 10%;
}
.cover-text{
    text-align: center;
    color: white;
}
h1{
    font-size: 50px;
}
.cover-text{
    font-size: 20px;
}
button{
    background-color: red
  padding: 20px;
  margin: 10px;
  :hover color: #000;
}